<%- include("partials/header"); -%>


<h1><%=title%></h1>
<p><%=content%></p>

<div class="btn-hold">
  </form>
  <div class = "btn container-fluid">
  <button class="btn btn-light" type="submit" name="button" onclick="location.href = '/';">Retornar ao começo</button>
  </div>
</div>




<%- include("partials/footer"); -%>
